<div class="row">
    <div class="col-sm-12">
        <img src="{{ recipe.imagePath }}" alt="" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" arialabel="Button group with nested dropdown">
            <div class="btn-group" role="group" appDropdown>
                <button id="btnGroupDrop1" type="button" class="btn btnprimary dropdown-toggle" data-toggle="dropdown"
                    ariahaspopup="true" aria-expanded="false">
                    Manage
                </button>
                <div class="dropdown-menu" arialabelledby="btnGroupDrop1">
                    <a (click)="onAddToShoppingList()" class="dropdownitem" style="cursor: pointer;">To Shopping
                        List</a>
                    <a class="dropdownitem" style="cursor: pointer;">Edit Recipe</a>
                    <a class="dropdownitem" style="cursor: pointer;">Manage Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>