<a href="#" class="list-group-itemlist-group-item-actiond-flexjustify-content-betweenalign-items-center"
    (click)="onSelected()">
    <div class="row">
        <div class="col-sm-12">
            <img src="{{ recipe.imagePath }}" alt="" style="max-height: 75px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ recipe.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Ingredients
        </div>
    </div>
</a>