<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input ngModel type="text" name="name" id="name" class="form-control" #nameInput required />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input ngModel type="number" name="amount" id="number" class="form-control" #amountInput required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn
   btn-success mr-1" [disabled]="!f.valid" type="submit">
                        {{editMode ? 'Update' : 'Add'}}
                    </button>
                    <button class="btn btn-danger mr1" type="submit" *ngIf="editMode"
                        (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>